body {
    background-color: lightgray;
}

.titulo {
    text-align: center;
    background-color: #a9a9a9;
    font-size: 30px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: normal;
}

img{
    max-width: 200px;
}

.links{
    padding: 50px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
}

.genio01, .genio02, .genio03 {
    width: 300px;
    height: 400px;
    background-color: #a9a9a9;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

h3{
    padding: 50px;
    padding-top: 0px;
    color: aliceblue;
    font-size: small;
    width: 200px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    background-color: rgb(63, 63, 63);
    height: 150px;
    display: flex;
    align-items: center;
}

footer div{
    padding: 50px;
    width: 30%;
}

footer h1{
    font-size: small;
    color:aliceblue;
}